.imgContainer {

  
}

.img {

  img {
    height: 100%;
    width: 100%;
  }
}

.title {
  h2 {
    font-weight: 600;
  }
}

.bodyContainer {
  display: flex;
  flex-wrap: wrap;
}

.rooms {

  h4 {
    font-weight: 600;
  }
}


.descriptionText {

}



