.imgContainer {

  
}

.img {

  img {
    height: 100%;
    width: 100%;
  }
}

.title {
  h2 {

  }
}

.bodyContainer {
  display: flex;
  flex-wrap: wrap;
}

.rooms {

}


.descriptionText {

}

.btn {

  button {
    
  }
}