.container {
  display: flex;
}

.photo1Container {

  img {
    height: 100%;
    width: 100%;
  }
}

.photo2Container {
  img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .container {
    flex-wrap: wrap;
  }
  
  .photoOutterContainer {
    width: 100%;
  }
  
}