.burgerMenuContainer {
  margin-left: auto;
  display: none;
}

.burgerMenu {
  margin: auto 0;
}

.burgerBar {
  margin-bottom: 5px;
  width: 2em;
  height: 0.2em;
  background-color: white;
  border-radius: 0.5em;
}

.visible {
  transition: ease-out 0.5s;
  position: absolute;
  height: 100vh;
  background: black;
  top: 0;
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  right: 0;
  width: 45%;
  color: white;

  a {
    margin-block: 2px;
  }
}

.NotVisible {
  display: none;
}

@media (max-width: 930px) {
  .burgerMenuContainer {
    display: flex;
  }
}