.main {
  
}

.containerDiv {
  max-width: 1200px;
  padding: 50px 0;
  margin: 0 auto;
}

.contentDiv {

  hr {
    width: 50px;
    margin: 15px auto
  }
}

.listItems {

}

.listItemsContainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
