.mainDiv {
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.contentDiv {
  height: 550px;
  width: 550px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1250px) {
  .mainDiv {
    max-height: 600px;
    max-width: 600px;
    height: auto;
    width: auto;
    margin: 35px auto;
  }

  .contentDiv {
    max-height: 550px;
    max-width: 550px;
    height: auto;
    width: auto;
  }
}